type project
authors Cody Johnson
description
    A type-safe functional wrapper for SignalR, Fable, and Feliz
language
    F#
tags
    fsharp, fable, react, websocket, signalr, feliz
files
    *.fsproj ==> fable
    *.fs ==> fable
