version 6.2.1

group Fable
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    
    framework: auto-detect

    nuget Fable.Browser.Url ~> 1
    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.FastCheck ~> 0
    nuget Fable.FastCheck.Jest ~> 0
    nuget Fable.Jester ~> 0
    nuget Fable.ReactTestingLibrary ~> 0
    nuget Fable.Remoting.Client ~> 7
    nuget Fable.Promise ~> 2
    nuget Fable.Remoting.MsgPack ~> 1
    nuget Fable.SimpleJson ~> 3
    nuget Feliz ~> 1
    nuget Feliz.Plotly ~> 1
    nuget Feliz.UseElmish ~> 1
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget Zanaptak.TypedCssClasses ~> 0

group Net6
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    
    condition: net6_0
    framework: net6
    
    nuget BenchmarkDotNet ~> 0
    nuget BlackFox.CommandLine ~> 1
    nuget Elmish ~> 3
    nuget Expecto ~> 9
    nuget Expecto.FsCheck ~> 9
    nuget Fable.Remoting.Giraffe ~> 4
    nuget Fable.Remoting.Json ~> 2
    nuget Fable.Remoting.MsgPack ~> 1
	nuget Fake.IO.FileSystem ~> 5
	nuget Fake.JavaScript.Npm ~> 5
    nuget Fake.JavaScript.Yarn ~> 5
    nuget FSharp.Control.AsyncSeq ~> 3
    nuget FSharp.Core >= 6
    nuget FSharp.Data ~> 3
    nuget Giraffe ~> 5
    nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 6
    nuget Microsoft.AspNetCore.SignalR.Client ~> 6
    nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson ~> 6
    nuget Microsoft.AspNetCore.TestHost ~> 6
    nuget Microsoft.IO.RecyclableMemoryStream ~> 2
    nuget Saturn ~> 0.15
    nuget System.Text.Encodings.Web ~> 6

group Net5
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    
    condition: net5_0
    framework: net5
    
    nuget BenchmarkDotNet ~> 0
    nuget BlackFox.CommandLine ~> 1
    nuget Elmish ~> 3
    nuget Expecto ~> 9
    nuget Expecto.FsCheck ~> 9
    nuget Fable.Remoting.Giraffe ~> 4
    nuget Fable.Remoting.Json ~> 2
    nuget Fable.Remoting.MsgPack ~> 1
	nuget Fake.IO.FileSystem ~> 5
	nuget Fake.JavaScript.Npm ~> 5
    nuget Fake.JavaScript.Yarn ~> 5
    nuget FSharp.Control.AsyncSeq ~> 3
    nuget FSharp.Core >= 5
    nuget FSharp.Data ~> 3
    nuget Giraffe ~> 5
    nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 5
    nuget Microsoft.AspNetCore.SignalR.Client ~> 5
    nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson ~> 5
    nuget Microsoft.AspNetCore.TestHost ~> 5
    nuget Microsoft.IO.RecyclableMemoryStream ~> 2
    nuget Saturn ~> 0.15
    nuget System.Text.Encodings.Web ~> 5
    nuget TaskBuilder.fs ~> 2

group NetCoreApp3
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    
    condition: netcoreapp3_1
    framework: netcoreapp3.1
    
    nuget BenchmarkDotNet ~> 0
    nuget BlackFox.CommandLine ~> 1
    nuget Elmish ~> 3
    nuget Expecto ~> 9
    nuget Expecto.FsCheck ~> 9
    nuget Fable.Remoting.Giraffe ~> 4
    nuget Fable.Remoting.Json ~> 2
    nuget Fable.Remoting.MsgPack ~> 1
	nuget Fake.IO.FileSystem ~> 5
	nuget Fake.JavaScript.Npm ~> 5
    nuget Fake.JavaScript.Yarn ~> 5
    nuget FSharp.Control.AsyncSeq ~> 3
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget FSharp.Data ~> 3
    nuget Giraffe ~> 4
    nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 3
    nuget Microsoft.AspNetCore.SignalR.Client ~> 5
    nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson ~> 5
    nuget Microsoft.AspNetCore.TestHost ~> 3
    nuget Microsoft.IO.RecyclableMemoryStream ~> 2
    nuget Saturn ~> 0.14.1
    nuget System.Text.Encodings.Web ~> 5
    nuget TaskBuilder.fs ~> 2

group NetStandard2
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    
    condition: netstandard2_0
    framework: netstandard2.0
    
    nuget Elmish ~> 3
    nuget Fable.Remoting.Json ~> 2
    nuget Fable.Remoting.MsgPack ~> 1
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget Microsoft.AspNetCore.SignalR.Client ~> 6
    nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson ~> 6
    nuget Microsoft.IO.RecyclableMemoryStream ~> 2

group Tooling
    source https://nuget.org/api/v2
    source https://api.nuget.org/v3/index.json

	nuget Fake.IO.FileSystem ~> 5
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget Yarnpkg.Yarn ~> 1

group FakeBuild
	source https://api.nuget.org/v3/index.json

	nuget Fake.Core.Target ~> 5
	nuget Fake.Core.ReleaseNotes ~> 5
	nuget Fake.DotNet.AssemblyInfoFile ~> 5
	nuget Fake.DotNet.Cli ~> 5
	nuget Fake.DotNet.MSBuild ~> 5
	nuget Fake.DotNet.Paket ~> 5
	nuget Fake.IO.FileSystem ~> 5
	nuget Fake.JavaScript.Npm ~> 5
    nuget Fake.JavaScript.Yarn ~> 5
	nuget Fake.Tools.Git ~> 5
    nuget FSharp.Core ~> 4.7
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget NuGet.Packaging 5.6
