type project
licenseExpression https://github.com/Shmew/Feliz.UseBridge/blob/master/LICENSE
authors Cody Johnson
description
    A Feliz friendly client for Elmish.Bridge
language
    F#
tags
    fsharp, fable, react, websocket, elmish, bridge
files
    *.fsproj ==> fable
    *.fs ==> fable
