type project
authors Cody Johnson
description
    A type-safe functional wrapper for SignalR and Fable
language
    F#
tags
    fsharp, fable, react, websocket, signalr
include-referenced-projects true
files
    *.fsproj ==> fable
    *.fs ==> fable
    ../Fable.SignalR.Shared/*.fsproj ==> fable/Shared
    ../Fable.SignalR.Shared/*.fs ==> fable/Shared
