type project
licenseExpression https://github.com/Shmew/Fable.SignalR/blob/master/LICENSE
authors Cody Johnson
description
    A type-safe functional wrapper for SignalR and Saturn
language
    F#
tags
    fsharp, fable, react, websocket, signalr, saturn
files
    *.fsproj ==> fable
    *.fs ==> fable
